/* You can add global styles to this file, and also import other style files */
body {
    background: url("https://i.imgur.com/6EhAM7G.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 90vh;
}

.list-group-item-action {
    color: white;
  }
