<h3 *ngIf="(btnText==='Add')">Add a new Pokemon here</h3>
<h3 *ngIf="(btnText==='Edit')">Edit a Pokemon here</h3>


<div>
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
  <label for="exampleFormControlInput1">Pokemon Name</label>
  <input class="form-control" [disabled]="(btnText==='Edit')" placeholder="e.g. Pikachu" type= "text" pattern="[a-zA-Z]+" ng-pattern-restrict name="name" [(ngModel)]="pokemons.name" #nameInp="ngModel" required>
  <span class="helper-text" *ngIf="nameInp.invalid && nameInp.touched">Please add a Pokemon name!</span><br>


  <label for="exampleFormControlInput1">Pokemon Type</label>
  <input class="form-control" placeholder="e.g. Electric" type= "text" name="type" [(ngModel)]="pokemons.type"
         #typeInp="ngModel" required>
  <span class="helper-text" *ngIf="typeInp.invalid && typeInp.touched">Please add a Pokemon type!</span><br>


  <label for="exampleFormControlInput1">Pokemon Weight (in kg)</label>
  <input class="form-control" placeholder="e.g. 0.2" type= "number" name = "weight" [(ngModel)]="pokemons.weight" #weightInp="ngModel" required >
  <span class="helper-text" *ngIf="weightInp.invalid && weightInp.touched">Please add a Pokemon weight!</span><br>

  <label for="exampleFormControlInput1">Pokemon Height (in cm)</label>
  <input class="form-control" placeholder="e.g. 20" type= "number" name = "height" [(ngModel)]="pokemons.height"  #heightInp="ngModel" required >
  <span class="helper-text" *ngIf="heightInp.invalid && heightInp.touched">Please add a Pokemon height!</span><br>

  <input type="checkbox" id="changeTab" name="changeTab" value="changeTab" ngModel>
  <label for="changeTab"> Let me see the Pokemon</label><br>


  <button id="add"
          class="btn btn-success"
          type="submit"
          [disabled]="nameInp.invalid || typeInp.invalid || weightInp.invalid || heightInp.invalid"
          [class.btn-warning] = "(btnText==='Edit')"
          >{{btnText}}
        </button>
</form>
</div>

<ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>

