.nav {
  margin-top: 0.5em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

a {
  color: white;
}

h2 {
  margin-bottom: 0px;
}

.nav-tabs .nav-link {
  border-radius: .25rem;

}

.nav-tabs  {
  border-bottom: none;

}
