
<div class="container-fluid">
  <div class="nav">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="/home"  routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/population"  routerLinkActive="active">Total population</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"routerLink="/form"  routerLinkActive="active">Add pokemon</a>
    </li>
  </ul>
  <h2 class="text-right"> Evidenta Pokemonilor v2</h2>

</div>
<br>

<router-outlet></router-outlet>
</div>
